.figurePoster {
    color: var(--text-color);
    padding: 30px 0;
    /* background-color: rgba(183, 218, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px; */
    /* height: 470px; */
    height: 375px;
}

.figurePoster .container {
    position: relative;
    cursor: pointer;
}

.figurePoster .container .figure-thumbnail,
.figurePoster .container .figure-info {
    text-align: center;
}

.figurePoster .container .figure-thumbnail {
    height: 16.875rem;
    margin-bottom: 20px;
    padding: 20px 0;
    background-color: rgba(183, 218, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    transition: 0.4s;
    position: relative;
}

.figurePoster .container .figure-info h3 {
    margin-bottom: 5px;
}

.figurePoster .container .figure-info p {
    color: var(--color-blue);
    font-size: 1.3em;
}

.figurePoster .container .figure-thumbnail img {
    /* height: 18rem; */
    height: 14rem;
    transition: 0.5s;
}

.figurePoster .container .figure-info-hover {
    opacity: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 30px 0;
    transform: translateY(-50%);
    transition: 0.5s;
    /* position: absolute; */
    cursor: auto;
    border-radius: 5px;
}

.figurePoster .container .figure-info-hover h3 {
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 5px;
}

.figurePoster .container .figure-info-hover h3 a {
    text-decoration: none;
    color: var(--color-blue);
}

.figurePoster .container .figure-info-hover h3 a:hover {
    transition: 0.2s;
    color: var(--color-bold-blue);
}

.figurePoster .container .figure-info-hover p {
    /* color: var(--color-bold-blue); */
    font-size: 1.3em;
    font-weight: 600;
    cursor: auto;
}

.figurePoster .container .figure-info-hover .add-to-cart-btn {
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 1vw;
    background: rgba(183, 218, 255, 0.25);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: 0.5s;
    width: fit-content;
    cursor: pointer;
    margin-top: 20px;
    user-select: none;
}

.figurePoster .container .figure-info-hover .loading-btn {
    color: var(--text-light-color);
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 1vw;
    background: rgba(10, 116, 229, 0.25);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: 0.5s;
    width: fit-content;
    cursor: pointer;
    margin-top: 20px;
    user-select: none;
    pointer-events: none;
    display: flex;
}

.figurePoster .container .figure-info-hover .preOrder-btn {
    margin-top: 20px;
    color: var(--text-light-color);
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 1vw;
    background: rgba(10, 116, 229, 0.25);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: 0.5s;
    width: fit-content;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
    display: flex;
}

.figurePoster .container .figure-info-hover .loading-icon {
    font-size: 1.2vw;
    margin-left: 5px;
    font-weight: bold;
    color: #fff;
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.figurePoster .container .figure-info-hover .add-to-cart-btn:hover {
    background: rgba(183, 218, 255, 0.6);
    /* color: #141414; */
}

.figurePoster:hover .container .figure-thumbnail img {
    transform: scale(1.3) translateY(-50%);
}

.figurePoster:hover .container .figure-info {
    color: var(--color-blue);
    opacity: 0;
}

.figurePoster:hover .container .figure-info-hover {
    opacity: 1;
    transform: translateY(-100%);
    transition-delay: 0.2s;

}

.figurePoster:hover .container .figure-thumbnail {
    transform: translateY(50%);
    background-color: transparent;
    border: none;

}

.figurePoster .container .figure-status {
    color: var(--text-color);
    background-color: var(--color-red);
    padding: 5px 10px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 5px;
    width: fit-content;
}

.figurePoster .container .figure-status-order {
    color: var(--text-color);
    background-color: var(--color-blue);
    padding: 5px 10px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 5px;
    width: fit-content;
}


.figurePoster .container .figure-peek {
    position: absolute;
    background: rgba(183, 218, 255, 0.5);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    top: 15px;
    left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
}

.figurePoster:hover .container .figure-peek {
    opacity: 1;
    transition-delay: 0.2s;
}

.figurePoster .container .figure-peek:hover {
    background: rgba(183, 218, 255, 0.6);
    /* color: #141414; */
}

.figurePoster .container .figure-peek .peek-icon-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.figurePoster .container .figure-peek:active,
.figurePoster .container .figure-info-hover .add-to-cart-btn:active {
    animation: press 0.2s 1 linear;
}

@keyframes press {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.92);
    }

    to {
        transform: scale(1);
    }
}

.figurePoster .container .figure-peek .peek-icon-wrapper .peek-icon {
    font-size: 1.25vw;
}

.disable-click {
    pointer-events: none;
    color: var(--text-light-color);
    background: rgba(10, 116, 229, 0.25) !important;
}

/* ========================= RESPONSIVE ========================== */
/* ====== Tablet: width >= 740px and < 1024px  */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {

    .best-seller .container .heading {
        flex-direction: column;
        display: flex;
    }

    .best-seller .container .heading .heading-left {
        display: flex;
        font-size: 1.1em;
        margin-top: 10px;
    }

    .best-seller .container .heading a {
        margin-right: 30px;
        margin-left: 0px;
    }

    .figurePoster .container .figure-info-hover .loading-icon {
        font-size: 2.2vw;
    }

    .figurePoster .container .figure-peek .peek-icon-wrapper .peek-icon {
        font-size: 2.25vw;
    }
}


/* ====== Mobile: width < 740px  */
@media only screen and (max-width: 46.1875em) {
    .best-seller .container .heading {
        flex-direction: column;
        display: flex;
    }

    .best-seller .container .heading .heading-left {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.1em;
        margin-top: 10px;
    }

    .best-seller .container .heading a {
        margin-right: 20px;
        margin-left: 0px;
    }

    .figurePoster .container .figure-info-hover .loading-icon {
        font-size: 1.2rem;
    }

    .figurePoster .container .figure-peek .peek-icon-wrapper .peek-icon {
        font-size: 3.25vw;
    }
}