* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* --background-color: #151918; */
    --background-color: #141414;
    --text-color: #d0d2d4;
    --text-light-color: #cbced08c;
    --color-blue: #2c88cc;
    --color-bold-blue: #0076d0;
    --color-red: #cf0707;
    --color-green: #2ecc71;
}

body {
    font-family: 'Work Sans', sans-serif;
    /* height: 200vh; */
    background-color: var(--background-color);
}


/* ====== Navigation ======= */

.active {
    font-weight: 700 !important;
    color: var(--color-blue) !important;
}

.navigation {
    user-select: none;
    position: fixed;
    z-index: 999;
    padding: 0 7vw;
    width: 100%;
    background-image:
        linear-gradient(180deg, rgba(0, 0, 0, .7) 5%, transparent);
}

.nav_scroll {
    user-select: none;
    position: fixed;
    z-index: 999;
    padding: 0 7vw;
    width: 100%;
    backdrop-filter: blur(6px);
    background-image:
        linear-gradient(180deg, rgba(0, 0, 0, .7) 5%, transparent);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);

}

.nav_scroll .container,
.navigation .container {
    padding: 1.5vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    /* font-size: 1.2em; */
}

.logo {
    display: flex;
    align-items: center;
}

.nav-links-mid,
.nav-links-right {
    font-size: 1.2vw;
    font-weight: 300;
}

.nav-links-right {
    position: relative;
    display: flex;
    align-items: center;
}

.nav-links-right .icon {
    margin-left: 1.1vw;
    cursor: pointer;
}

.nav-links-right a,
.nav-links-mid a {
    color: var(--text-color);
    text-decoration: none;
    margin-left: 2vw;
    transition: 0.2s;
}

.nav-links-mid a:hover {
    color: var(--color-blue);
}

.nav-links-right .search-icon {
    background-color: rgba(0, 0, 0, .5);
    margin-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 40px;
    background-color: rgba(0, 0, 0, .5);
    margin-left: 0;
    padding: 8px;
    height: 40px;
}

.nav-links-right input {
    padding: 0 20px;
    font-size: 1.2vw;
    font-family: 'Work Sans', sans-serif;
    color: var(--text-color);
}

.nav-links-right input[type="text"] {
    height: 40px;
    width: 15vw;
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(0, 0, 0, .5);
    transition: 0.5s;
}

.nav-links-right input[type="text"]:focus {
    /* background-color: var(--text-color); */
    color: var(--text-color);
    background: rgba(183, 218, 255, 0.25);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav_scroll .logo img,
.navigation .logo img {
    height: 2.5vw;
    margin-right: 2vw;
}

.login-btn {
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 1vw;
    /* box-shadow:
        20px 0px 68px 0px rgba(168, 197, 253, 0.5),
        inset -8px -8px 16px 0px rgba(168, 197, 253, 0.6),
        inset 0px 11px 28px 0px rgb(255, 255, 255); */

    background: rgba(183, 218, 255, 0.25);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: 0.5s;
}

.login-btn:hover {
    background: rgba(183, 218, 255, 0.4);

}

.nav-links-res {
    display: none;
}

.nav-links-res-modal {
    opacity: 0;
    text-align: center;
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    top: 9vw;
    left: 8%;
}

.cart-wrapper {
    position: relative;
    cursor: pointer;
}

.cart-wrapper:active {
    animation: press 0.2s 1 linear;
}

@keyframes press {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.92);
    }

    to {
        transform: scale(1);
    }
}

.cart-wrapper p {
    font-size: 15px;
    font-weight: bold;
    line-height: 23px;
}

.cart-notifications {
    position: absolute;
    top: -13px;
    right: -10px;
    background-color: var(--color-blue);
    z-index: 99;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    text-align: center;
}

.cart-shake {
    animation: shake 0.5s;
    animation-delay: 0.5s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


/* ========================= RESPONSIVE ========================== */


/* ====== Tablet: width >= 740px and < 1024px  */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {

    /* ====== Navigation ======= */
    .nav-links-mid {
        display: none;
    }


    .nav-links-res {
        cursor: pointer;
        display: flex;
        font-size: 3vw;
        position: relative;
    }

    .nav-links-res .res-icon {
        font-size: 3vw;
    }

    .nav_scroll .nav-links-res-modal {
        display: block;
        text-align: center;
        position: absolute;
        background-color: rgba(0, 0, 0, .8);
        backdrop-filter: blur(4px);
        /* padding: 1vw 13vw; */
        border-radius: 10px;
        top: 9vw;
        left: 8%;
        /* transition: 0.5s; */
        /* transform: translateY(0); */
        /* opacity: 1; */
        z-index: 100;
    }

    .nav-links-res-modal a {
        padding: 2vw 13vw;
        display: block;
        text-decoration: none;
        color: var(--text-color);
        font-size: 2.5vw;
        transition: 0.5s;
        border-radius: 10px;
    }

    .nav-links-res-modal a:hover {
        background-color: #ecf0f10f;
        color: var(--color-blue);
    }

    .nav-links-right {
        font-size: 1.8vw;
    }

    .nav-links-right .icon {
        font-size: 3vw;
        /* margin-left: 1.1vw; */
        cursor: pointer;
    }

    .nav-links-right input[type="text"] {
        height: 40px;
        width: 30vw;
    }

    .nav-links-right input {
        font-size: 2.2vw;
    }

    .nav_scroll .logo img,
    .navigation .logo img {
        height: 4vw;
    }

    .nav-links-res-modal input,
    .nav-links-res-modal .search-res-icon {
        display: none;
    }

}


/* ====== Mobile: width < 740px  */
@media only screen and (max-width: 46.1875em) {

    .nav-links-mid {
        display: none;
    }


    .nav-links-res {
        cursor: pointer;
        display: flex;
        font-size: 3vw;
        position: relative;
    }

    .nav-links-res .res-icon {
        font-size: 7vw;
    }

    .nav_scroll,
    .navigation {
        padding: 2vw 2vw;
    }

    .nav_scroll .logo img,
    .navigation .logo img {
        height: 8vw;
        margin-right: 10vw;
    }

    .nav-links-mid,
    .nav-links-right {
        font-size: 2.8vw;
    }

    .nav-links-right input[type="text"] {
        height: 40px;
        width: 30vw;
    }

    .nav-links-right input {
        font-size: 2.2vw;
    }

    .nav-links-res-modal a {
        padding: 5vw 15vw;
        display: block;
        text-decoration: none;
        color: var(--text-color);
        font-size: 5vw;
        transition: 0.5s;
        border-radius: 10px;
    }

    .nav-links-res-modal a:hover {
        background-color: #ecf0f10f;
    }

    .login-btn {
        padding: 10px 2vw;
    }

    .nav-links-right .icon {
        font-size: 7vw;
        margin-left: 1.1vw;
        cursor: pointer;
    }

    .nav-links-right .search-icon {
        display: none;
    }

    .nav-links-right input {
        display: none;
    }

    .nav-links-res-modal input {
        padding: 0 20px;
        font-size: 4.2vw;
        font-family: 'Work Sans', sans-serif;
        color: var(--text-color);
    }

    .nav-links-res-modal input[type="text"] {
        height: 45px;
        width: 54vw;
        border: none;
        outline: none;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, .3);
        transition: 0.5s;
    }

    .nav-links-res-modal input[type="text"]:focus {
        /* background-color: var(--text-color); */
        color: var(--text-color);
        background: rgba(183, 218, 255, 0.25);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    .nav-links-res-modal {
        top: 15vw;
        left: 25%;
    }

    .nav-links-res-modal .search-res-icon {
        font-size: 7vw;
    }

    .cart-notifications {
        top: -7px;
        right: -4px;
        width: 17px;
        height: 17px;
    }

    .cart-notifications p {
        font-size: 12px;
        font-weight: bold;
        line-height: 18px;
    }

}